<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="projectComment">
      <h2 data-cy="projectCommentDetailsHeading"><span jhiTranslate="o360VApp.projectComment.detail.title">Project Comment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ projectComment.id }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.projectComment.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ projectComment.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.projectComment.comment">Comment</span></dt>
        <dd>
          <span>{{ projectComment.comment }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.projectComment.user">User</span></dt>
        <dd>
          <span>{{ projectComment.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.projectComment.project">Project</span></dt>
        <dd>
          <div *ngIf="projectComment.project">
            <a [routerLink]="['/project', projectComment.project.id, 'view']">{{ projectComment.project.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/project-comment', projectComment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
