<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userGroup">
      <h2 data-cy="userGroupDetailsHeading"><span jhiTranslate="o360VApp.userGroup.detail.title">User Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userGroup.id }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.userGroup.name">Name</span></dt>
        <dd>
          <span>{{ userGroup.name }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.userGroup.user">User</span></dt>
        <dd>
          <span *ngFor="let user of userGroup.users; let last = last"> {{ user.login }}{{ last ? '' : ', ' }} </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-group', userGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
