<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="jira">
      <h2 data-cy="jiraDetailsHeading"><span jhiTranslate="o360VApp.jira.detail.title">Jira</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ jira.id }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.jira.url">Url</span></dt>
        <dd>
          <span>{{ jira.url }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.jira.apiKey">Api Key</span></dt>
        <dd>
          <span>{{ jira.apiKey }}</span>
        </dd>
        <dt><span jhiTranslate="o360VApp.jira.project">Project</span></dt>
        <dd>
          <span>{{ jira.project }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jira', jira.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
