<div>
  <h2 id="page-heading" data-cy="ProjectCommentHeading">
    <span jhiTranslate="o360VApp.projectComment.home.title">Project Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="o360VApp.projectComment.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project-comment"
        [routerLink]="['/project-comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="o360VApp.projectComment.home.createLabel"> Create a new Project Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projectComments?.length === 0">
    <span jhiTranslate="o360VApp.projectComment.home.notFound">No Project Comments found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="projectComments && projectComments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="o360VApp.projectComment.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comment">
            <div class="d-flex">
              <span jhiTranslate="o360VApp.projectComment.comment">Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="o360VApp.projectComment.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="project.title">
            <div class="d-flex">
              <span jhiTranslate="o360VApp.projectComment.project">Project</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projectComment of projectComments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/project-comment', projectComment.id, 'view']">{{ projectComment.id }}</a>
          </td>
          <td>{{ projectComment.createdDate | formatMediumDate }}</td>
          <td>{{ projectComment.comment }}</td>
          <td>
            {{ projectComment.user?.login }}
          </td>
          <td>
            <div *ngIf="projectComment.project">
              <a [routerLink]="['/project', projectComment.project.id, 'view']">{{ projectComment.project.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/project-comment', projectComment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/project-comment', projectComment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(projectComment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
